<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.job.mapper.CategoryMapper">

    <!-- 获得类别列表-->
    <select id="getCategoryList" resultType="Category">
        SELECT * FROM job_category
    </select>

    <!-- 根据id获得种类-->
    <select id="getCategoryById" resultType="Category">
        SELECT * FROM job_category WHERE id = #{id}
    </select>
</mapper>